*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    background:url("/CSS/abstract-white-shapes-background_79603-1359.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    
}
.menu-btn #menu-icon{
    position: absolute;
    top: 0%;
    left: 0%;
}

.sidebar{
    background-color: white;
    width: 300px;
    border: solid black 1px;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property:left;
    left: -300px;
}
.active{
    left: 0;
}

.sidebar .profile {
    height: 60px;
    width: 60px;
    overflow: hidden;
}
.sidebar .profile img{
    height:100%;
    width:100%;
}
.sidebar header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    margin-top: 1rem;
}
.sidebar #close-icon{
    position: absolute;
    top: 0%;
    right:0%;
    font-size: 2rem;
    cursor: pointer;
}

.menu-btn #menu-icon{
    font-size: 2rem;
    cursor: pointer;
}
.sidebar .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}
.sidebar .menu a{
    text-decoration: none;
    text-align: center;
    padding:2rem;
    font-size: 1.1rem;
}
.sidebar .menu a:hover{
   background-color: black;
   color: white;
   transition: 0.5s ease;
}
.sidebar .menu a:not(:hover){
  transition: 0.5s;
}
tr,th,td{
    padding:20px;
}
#tablebox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}
#submit{
    padding:10px 20px;
    text-align: center;
    border: none;
    border-radius: 7px;
    color: aliceblue;
    background-color: rgb(0, 103, 172);
    cursor: pointer;
    width: 100px; 
}
#submit:hover{
    background-color: antiquewhite;
    transition: 0.7s;
    color: black;
}
#submit:not(:hover){
    transition: 1s;
}
#adduser{
    padding:10px 20px;
    text-align: center;
    border: none;
    border-radius: 7px;
    color: aliceblue;
    background-color: rgb(204, 4, 31);
    cursor: pointer;
    width: 100px; 
}
#adduser:hover{
    background-color: antiquewhite;
    transition: 0.7s;
    color: black;
}
#adduser:not(:hover){
    transition: 1s;
}
table{
    backdrop-filter: blur(20px);
}
tbody #delete{
    color:white;
    padding:3px 6px;
    border-radius: 3px;
    background-color: rgb(66, 61, 61);
}
